---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Games by Nico Bako">
  <h1>Games</h1>
  <p>A collection of small games I've built for fun.</p>
  <ul>
    <li>
      <a href="/games/classrooms-and-angry-teachers">
        Classrooms &amp; Angry Teachers
      </a>
    </li>
  </ul>
</Layout>
