---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Music — Nico Bako">
  <h1>Music</h1>
  <p>Tools and experiments related to music.</p>
  <ul>
    <li><a href="/music/metronome">Metronome</a></li>
    <li><a href="/music/drone">Drone</a></li>
    <li><a href="/music/violin-3-octave-fingerings">Violin 3-Octave Scale Fingerings</a></li>
    <li><a href="/music/circle-of-fifths">Circle of Fifths</a></li>
  </ul>
</Layout>
